<div class="container-fluid text-center">
    <!-- <div class="row">
        <h4 style="margin: 20px auto 20px auto; color:#3bb78f ;">Issue<span style="color: black;">tracker</span></h4>

    </div> -->
    <br><br><br>
    <div class="row">
        <div class="col-1 col-md-3 col-xl-4"></div>
        <div class="col-10 col-sm-10 col-md-6 col-xl-4 text-center shadow"
            style="background-color: white; border-radius: 15px; border: lightgrey solid 1px;">

            <h4 style="margin: 20px auto 20px auto; color:#3bb78f ; text-align: left;">Issue<span
                    style="color: black;">tracker</span></h4>
            <div *ngIf="!forgot">
                <h5><span *ngIf="signupForm"> Signup</span> <span *ngIf="!signupForm"> Login</span></h5>
                <br>
                <div *ngIf="signupForm">
                    <div class="form-group">
                        <input type="text" id="firstName" [(ngModel)]="firstName"
                            class="form-control rounded-pill shadow" required autofocus>
                        <label class="form-control-placeholder" for="firstName">First Name</label>
                    </div>
                    <div class="form-group">
                        <input type="text" id="lastName" [(ngModel)]="lastName" class="form-control rounded-pill shadow"
                            required autofocus>
                        <label class="form-control-placeholder" for="lastName">Last Name</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" id="email" [(ngModel)]="email" class="form-control rounded-pill shadow" required
                        autofocus>
                    <label class="form-control-placeholder" for="email">Email</label>
                </div>
                <div class="form-group">
                    <input type="password" id="password" [(ngModel)]="password" class="form-control rounded-pill shadow"
                        required>
                    <label class="form-control-placeholder" for="password">Password</label>
                </div>
                <div *ngIf="!signupForm" style="margin-bottom: 50px;">
                    <!-- <a class="forgot" routerLink="/forgot-password">Forgot password?</a> -->
                    <a class="forgot" (click)="this.forgot=!this.forgot">Forgot password? <fa-icon [icon]="faLock"
                            size="1x"></fa-icon></a>
                    <button class="btn btn-outline-success login" (click)="signIn()">
                        <b>Login <fa-icon [icon]="faSignInAlt" size="1x"></fa-icon></b>
                    </button>
                </div>
                <button *ngIf="signupForm" class="btn btn-outline-success cusBtn" style="margin-bottom:10px;"
                    (click)="signup()">
                    <b>Signup <fa-icon [icon]="faUserPlus" size="1x"></fa-icon></b>
                </button>
                <br>
                <button class="btn fb rounded-pill shadow animate" (click)="socialSignIn('facebook')">
                    <img class="shadow" src="../../../assets/fb-logo.png" width="18" height="18"> Login with Facebook
                </button>
                <br>
                <button class="btn google rounded-pill shadow animate" (click)="socialSignIn('google')">
                    <img class="shadow" src="../../../assets/google.png"
                        style="background-color: white; padding: 5px; border-radius: 15px;" width="25" height="25">
                    Login with Google
                </button>
                <br>
                <button class="btn normal rounded-pill shadow animate" (click)="signupForm = !signupForm">
                    <img class="shadow" src="../../../assets/mail.png"
                        style="background-color: #009750; padding: 5px; border-radius: 5px;" width="25" height="25">
                    <!-- width="18" height="18" -->
                    <span *ngIf="!signupForm"> Signup</span> <span *ngIf="signupForm"> Login</span> with Email</button>
                <br><br>
            </div>
            <div *ngIf="forgot">
                <br>
                <h5>Forgot password?</h5>
                <br>
                <p class="text-muted">Please enter your registered Email to receive recovery mail.</p>
                <br>
                <div class="form-group">
                    <input type="email" id="email" [(ngModel)]="email" class="form-control rounded-pill shadow" required
                        autofocus>
                    <label class="form-control-placeholder" for="email">Email</label>
                </div>
                <br>
                <button class="btn btn-outline-success cusBtn" (click)="submit()">
                    <b>Submit <fa-icon [icon]="faEnvelope" size="1x"></fa-icon></b>
                </button>
                <br><br>
                <p class="text-muted">Don't have an account? <a class="animate" (click)="goToSignup()"
                        style="color: #3bb78f;cursor: pointer;"><b>Signup <fa-icon [icon]="faUserPlus" size="1x">
                            </fa-icon></b></a></p>
                <a class="animate" (click)="goBackToLogin()"><b style="color: #3bb78f;cursor: pointer;">Back to
                        login <fa-icon [icon]="faSignInAlt" size="1x"></fa-icon></b></a>
                <br><br><br>
            </div>
        </div>
        <div class="col-md-3 col-xl-4"></div>
    </div>
    <br><br><br><br>
    <!-- <fa name="cog" animation="spin"></fa> -->
</div>