.<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-1 col-md-3 col-xl-4"></div>
        <div class="col-10 col-sm-10 col-md-6 col-xl-4 text-center shadow"
            style="background-color: white; border-radius: 15px; border: lightgrey solid 1px;">
            <h4 style="margin: 20px auto 20px auto; color:#3bb78f ; text-align: left;">Issue<span
                    style="color: black;">tracker</span></h4>
            <h5 class="text-center" style="margin-top:10%; color:#3bb78f ;"> CHANGE PASSWORD</h5>
            <br>
            <p class="text-muted"><b>Enter same password in both fields.</b></p>
            <br>
            <div class="form-group">
                <input type="password" id="pass1" [(ngModel)]="pass1" class="form-control rounded-pill shadow" required
                    autofocus>
                <label class="form-control-placeholder" for="pass1">Enter new Password</label>
            </div>
            <div class="form-group">
                <input type="password" id="pass2" [(ngModel)]="pass2" class="form-control rounded-pill shadow" required
                    autofocus>
                <label class="form-control-placeholder" for="pass2">Re-enter new Password</label>
            </div>
            <!-- <h6>Don't have account yet? <a [routerLink]="['/sign-up']">SignUp</a> </h6> -->
            <br>
            <button class="btn btn-outline-success cusBtn" (click)="changePasswordFunction()"><b>Change password </b>
                <fa-icon [icon]="faKey" size="1x"></fa-icon>
            </button>
            <br><br>
            <p [routerLink]="['']" style="color: #3bb78f; cursor: pointer;"><b>Back to Login </b>
                <fa-icon [icon]="faSignInAlt" size="1x"></fa-icon>
            </p>
            <br>
        </div>
    </div>
</div>