.form-group {
    position: relative;
    margin-bottom: 30px;

  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    left: 25px;
    padding: 7px 0 0 2px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 85%;
    color: #3bb78f;
    font-weight: bold;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }

  .cusBtn{
    color :#3bb78f;
    border: #3bb78f 1px solid;
  }
  .cusBtn:hover{
    color:white;
    background: #3bb78f;
  }