<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0 text-center">
                <div class="alert alert-danger" style="width: 90%; margin:5px 5% 5px 5%;" role="alert" *ngIf="noNotify">
                    Notifications Box empty!
                </div>
                <div class="text-center" *ngFor="let notify of notifications" class="hover-shadow">
                    <div class="alert alert-success" role="alert" style="width: 90%; margin:5px 5% 5px 5%;">
                        <a routerLink="description/{{notify.issueId}}" data-dismiss="modal">
                            <span><b style="color: green;">{{notify.message}}</b></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light h" data-dismiss="modal"><b>Close</b></button>
            </div>
        </div>
    </div>
</div>
<!-- end of modal -->

<nav class="navbar navbar-default navbar-expand-md fixed-top customNav">
    <a class="navbar-brand" routerLink="home"> Issue Tracker Tool</a>
    <button class="navbar-toggler btn btn-outline-light bar" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <fa-icon [icon]="faBars"></fa-icon>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <li>
                <button class="btn btn-outline-light customBtn rounded-pill" [routerLink]="['home']">
                    <fa-icon [icon]="faHome"></fa-icon> Home
                </button>
            </li>
            <li>
                <button class="btn btn-outline-light customBtn rounded-pill" [routerLink]="['description/add']">
                    <!-- [class.activated]="currentUrl.split('/')[1] == 'description'" -->
                    <fa-icon [icon]="faClipboardList"></fa-icon> Report
                </button>
            </li>

            <li>
                <button class="btn btn-outline-light customBtn rounded-pill" (click)="clearNotify()" data-toggle="modal"
                    data-target="#exampleModal">
                    <fa-icon [icon]="faBell" size="1x"></fa-icon><span>
                        Notification</span><span class="badge badge-light" style="color: red;">{{count}}</span>
                </button>
            </li>

            <li>
                <button class="btn btn-outline-light customBtn rounded-pill" [routerLink]="['profile']">
                    <fa-icon [icon]="faUserCircle"></fa-icon> Profile
                </button>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-default fixed-bottom customNav d-block d-sm-none bg-light shadow">
    <div class="row text-center">
        <div class="col-3">
            <button class="btn btn-outline-light customBtn rounded-circle" [routerLink]="['home']">
                <fa-icon [icon]="faHome"></fa-icon>
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-light customBtn rounded-circle" [routerLink]="['description/add']">
                <!-- [class.activated]="currentUrl.split('/')[1] == 'description'" -->
                <fa-icon [icon]="faClipboardList"></fa-icon>
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-light customBtn rounded-circle" (click)="clearNotify()" data-toggle="modal"
                data-target="#exampleModal">
                <fa-icon [icon]="faBell" size="1x"></fa-icon><span>
                </span><span class="badge badge-light" style="color: red;">{{count}}</span>
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-light customBtn rounded-circle" [routerLink]="['profile']">
                <!-- [class.activated]="currentUrl.split('/')[1] == 'description'" -->
                <fa-icon [icon]="faUserCircle"></fa-icon>
            </button>
        </div>
    </div>
</nav>